In [1]:
#Carlos Gonzalez_created on Jun 2nd 2022
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

## Q1_What is the average CO2 emmission per gram/mile of all Volkswagen cars?

In [16]:
#Q1  What is the average CO2 emmission per gram/mile of all Volkswagen cars?
df1=df[df["Make"]=="Volkswagen"]
df1["CO2 Emission Grams/Mile"].mean()

392.7417210857633

### #Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models

In [26]:
df1=df[df["Make"]=="AM General"]
df1["Model"].value_counts()

DJ Po Vehicle 2WD      1
FJ8c Post Office       1
Post Office DJ5 2WD    1
Post Office DJ8 2WD    1
Name: Model, dtype: int64

In [98]:
df["Make"].value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

In [37]:
#This one counts distinct values of only "AM General" in column "Make"
df1=df[df["Make"]=="AM General"]
df1['Fuel Barrels/Year'].nunique()

3

In [42]:
df["Model"].value_counts()

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

In [44]:
#Q3. What are all the different types of fuels in the dataset sorted alphabetically?
df["Fuel Type"].value_counts()

Regular                        23587
Premium                         9921
Gasoline or E85                 1195
Diesel                           911
Premium or E85                   121
Midgrade                          74
CNG                               60
Premium and Electricity           20
Gasoline or natural gas           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
Name: Fuel Type, dtype: int64

In [63]:
df1=df[df["Make"]=="Acura"]
df1.sort_values('Fuel Type')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
155,Acura,NSX,1996,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,16,22,18,493.722222,2250
186,Acura,RDX 4WD,2013,3.5,6.0,Automatic (S6),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Premium,14.982273,19,27,22,399.000000,1850
187,Acura,RDX 4WD,2014,3.5,6.0,Automatic (S6),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Premium,14.982273,19,27,22,399.000000,1850
188,Acura,RDX 4WD,2015,3.5,6.0,Automatic (S6),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Premium,14.982273,19,27,22,399.000000,1850
189,Acura,RDX 4WD,2016,3.5,6.0,Automatic (S6),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Premium,14.982273,19,28,22,400.000000,1850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Acura,SLX,1996,3.2,6.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,21.974000,14,17,15,592.466667,2200
222,Acura,SLX,1996,3.2,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,23.543571,13,17,14,634.785714,2400
221,Acura,RSX,2006,2.0,4.0,Automatic (S5),Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,31,25,355.480000,1350
57,Acura,Integra,1990,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,24,22,403.954545,1500
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500

In [66]:
df.sort_values('Fuel Type')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
32600,Toyota,Camry CNG,1999,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,CNG,0.080870,20,28,23,308.240217,1300
12572,Ford,F150 CNG,2001,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.143077,11,15,13,545.348077,2350
12573,Ford,F150 CNG,2002,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.155000,11,15,12,590.793750,2500
15634,GMC,Savana Cargo (dedicated CNG),2004,6.0,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",CNG,0.155000,11,15,12,590.793750,2500
15636,GMC,Savana Passenger (dedicated CNG),2004,6.0,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Passenger Type",CNG,0.155000,11,15,12,590.793750,2500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11639,Ford,C-MAX Energi Plug-in Hybrid,2013,2.0,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular Gas and Electricity,4.878704,40,36,38,129.000000,900
17059,Honda,Accord Plug-in Hybrid,2014,2.0,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular Gas and Electricity,4.827657,47,46,46,130.000000,700
13409,Ford,Fusion Energi Plug-in Hybrid,2014,2.0,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular Gas and Electricity,4.878704,40,36,38,129.000000,900
7917,Chevrolet,Volt,2017,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,43,42,42,51.000000,800
7916,Chevrolet,Volt,2016,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,43,42,42,51.000000,800

In [68]:
n = len(pd.unique(df['Fuel Type']))
  
print("No.of.unique values :", 
      n)

No.of.unique values : 13

In [ ]:
def unique(list1):
    x = np.array(list1)
    print(np.unique(x))
    

print("the unique values from 1st list is")
unique(list1)

In [76]:
df1['Fuel Type'].tolist()

['Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Premium',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Regular',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium',
 'Premium']

### Q3. What are all the different types of fuels in the dataset sorted alphabetically?

In [94]:
Q3DFR = (df['Fuel Type'].unique())
print(sorted(Q3DFR))
print("")
print("")
print(Q3DFR)

['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity']


['Regular' 'Premium' 'Diesel' 'Premium and Electricity' 'Premium or E85'
 'Premium Gas or Electricity' 'Gasoline or E85' 'Gasoline or natural gas'
 'CNG' 'Regular Gas or Electricity' 'Midgrade'
 'Regular Gas and Electricity' 'Gasoline or propane']

In [95]:
Q3DF=df[df["Make"]=="AM General"]
print(Q3DF['Model'].unique())

['DJ Po Vehicle 2WD' 'FJ8c Post Office' 'Post Office DJ5 2WD'
 'Post Office DJ8 2WD']

In [82]:
Q3DF

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

## Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

In [102]:
Q6DFR=df[df["Make"]=="Toyota"]
Q6DFR['CO2 Emission Grams/Mile'].value_counts().sort_values(ascending=True)

249.000000      1
601.000000      1
554.000000      1
594.000000      1
448.000000      1
             ...
555.437500    101
423.190476    130
403.954545    131
467.736842    143
493.722222    173
Name: CO2 Emission Grams/Mile, Length: 177, dtype: int64

In [119]:
Q6TDFR=df[df["Make"]=="AM General"]
print("Toyota")
Q6TDFR['CO2 Emission Grams/Mile'].nlargest(n=4)

Toyota

1    683.615385
3    683.615385
2    555.437500
0    522.764706
Name: CO2 Emission Grams/Mile, dtype: float64

In [118]:
Q6TDFR=df[df["Make"]=="AM General"]
Q6TDFR['CO2 Emission Grams/Mile'].nsmallest(n=4)

0    522.764706
2    555.437500
1    683.615385
3    683.615385
Name: CO2 Emission Grams/Mile, dtype: float64

In [126]:
RQ6TDFR=df[df["Make"]=="Toyota"]
print("Toyota")
RQ6TDFR['CO2 Emission Grams/Mile'].nsmallest(n=15).sort_values(ascending=False).value_counts()

Toyota

177.74    4
133.00    4
178.00    3
158.00    2
171.00    1
170.00    1
Name: CO2 Emission Grams/Mile, dtype: int64

In [129]:
Q6FDFR=df[df["Make"]=="Ford"]
print("Ford")
Q6FDFR['CO2 Emission Grams/Mile'].nsmallest(n=15).sort_values(ascending=True).value_counts()

Ford

129.0    8
209.0    2
211.0    2
112.0    1
210.0    1
222.0    1
Name: CO2 Emission Grams/Mile, dtype: int64

In [131]:
Q6VDFR=df[df["Make"]=="Volkswagen"]
print("Volkswagen")
Q6VDFR['CO2 Emission Grams/Mile'].nsmallest(n=10).sort_values(ascending=True).value_counts()

Volkswagen

200.000000    4
267.894737    4
261.025641    2
Name: CO2 Emission Grams/Mile, dtype: int64

In [144]:
Presencia=df[df["Make"]=="Volkswagen"]
Presencia["CO2 Emission Grams/Mile"]
print(sorted(Presencia))

['CO2 Emission Grams/Mile', 'City MPG', 'Combined MPG', 'Cylinders', 'Drivetrain', 'Engine Displacement', 'Fuel Barrels/Year', 'Fuel Cost/Year', 'Fuel Type', 'Highway MPG', 'Make', 'Model', 'Transmission', 'Vehicle Class', 'Year']

In [162]:
Q6NDFR=df[df["Make"]=="Nissan"]
print("Nissan")
Q6NDFR['CO2 Emission Grams/Mile'].nsmallest(n=10).sort_values(ascending=True).value_counts()

Nissan

254.500000    3
260.000000    2
249.000000    1
254.000000    1
255.000000    1
257.000000    1
261.382353    1
Name: CO2 Emission Grams/Mile, dtype: int64

In [163]:
Q6HDFR=df[df["Make"]=="Honda"]
print("Honda")
Q6HDFR['CO2 Emission Grams/Mile'].nsmallest(10).to_list()

Honda

[130.0,
 167.67924528301887,
 167.67924528301887,
 167.67924528301887,
 167.67924528301887,
 170.90384615384616,
 170.90384615384616,
 170.90384615384616,
 183.0,
 188.0]

In [164]:
Q6Toyo=df[df["Make"]=="Toyota"]
print("Toyota")
Q6Toyo['CO2 Emission Grams/Mile'].nsmallest(10).to_list()

Toyota

[133.0, 133.0, 133.0, 133.0, 158.0, 158.0, 170.0, 171.0, 177.74, 177.74]

## Q5

1