In [154]:
#Carlos Gonzalez_created on Jun 2nd 2022
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [9]:
answer_dict =  {"Q1" : None,
                "Q2" : None,
                "Q3" : None,
                "Q4" : None,
                "Q5" : None,
                "Q6" : None,
                "Q7" : None}

## Q1_What is the average CO2 emmission per gram/mile of all Volkswagen cars?

In [13]:
#Q1  What is the average CO2 emmission per gram/mile of all Volkswagen cars?
df1=df[df["Make"]=="Volkswagen"]
answer_dict["Q1"] = df1["CO2 Emission Grams/Mile"].mean()
answer_dict

{'Q1': 392.7417210857633,
 'Q2': None,
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

### #Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models

In [64]:
df["Make"].count()

35952

In [77]:
Q2DF = df[["Make","Model"]]
Q2DF["Make"].nunique()

127

In [78]:
df["Make"].value_counts().argmax()

0

In [40]:
df["Model"].value_counts()

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

### Q3. What are all the different types of fuels in the dataset sorted alphabetically?

In [15]:
Q3DFR = (df['Fuel Type'].unique())
answer_dict["Q3"] = (sorted(Q3DFR))
answer_dict

{'Q1': 392.7417210857633,
 'Q2': None,
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

### Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units(Z-score) sorted in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order BUT without modifying the negative values (see example).

In [174]:
Q4DFA = df[df["Make"]=="Toyota"]
A4 = Q4DFA["Fuel Barrels/Year"].mean()
STD = Q4DFA["Fuel Barrels/Year"].std()

print("Mean / µ =",A4)
print("STD =",STD)

Q4DFA1 = df[["Model","Year","Fuel Barrels/Year"]]
MAS2 = (Q4DFA1['Fuel Barrels/Year']-A4)/STD
Q4DFA1["Z-Score"] = MAS2
ABS = np.abs(Q4DFA1["Z-Score"])
ABS
Q4DFA1["Z-Score ABS."] = ABS
Q4DFA1
answer_dict["Q4"] = Q4DFA1
answer_dict

Mean / µ = 16.153677357417322
STD = 4.0871295932473535

C:\Users\carlo\AppData\Local\Temp\ipykernel_12552\4154066092.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q4DFA1["Z-Score"] = MAS2
C:\Users\carlo\AppData\Local\Temp\ipykernel_12552\4154066092.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q4DFA1["Z-Score ABS."] = ABS

{'Q1': 392.7417210857633,
 'Q2': None,
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4':                      Model  Year  Fuel Barrels/Year   Z-Score  Z-Score ABS.
 0        DJ Po Vehicle 2WD  1984          19.388824  0.791545      0.791545
 1         FJ8c Post Office  1984          25.354615  2.251198      2.251198
 2      Post Office DJ5 2WD  1985          20.600625  1.088037      1.088037
 3      Post Office DJ8 2WD  1985          25.354615  2.251198      2.251198
 4                      GNX  1987          20.600625  1.088037      1.088037
 ...                    ...   ...                ...       ...           ...
 35947         fortwo coupe  2013           9.155833 -1.712166      1.712166
 35948         fortwo coupe  2014           9.155833 -1.712166      1.712166
 35949         fortwo coupe  2015           9.155833 -1.712166      1.712166
 35950         fortwo coupe  2016           9.155833 -1.712166      1.712166
 35951         fortwo coupe  2016           9.417429 -1.648161      1.648161

 [35952 rows x 5 columns],
 'Q5': None,
 'Q6': ('TOYOTA:',
  [133.0, 133.0, 133.0, 133.0, 158.0],
  'FORD',
  [112.0, 129.0, 129.0, 129.0, 129.0],
  'VOLKSWAGEN',
  [200.0, 200.0, 200.0, 200.0, 261.025641025641],
  'NISSAN',
  [249.0, 254.0, 254.5, 254.5, 254.5],
  'HONDA',
  [130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]),
 'Q7': None}

In [ ]:

A4_1 = MAS2["Fuel Barrels/Year"].nlargest(9).tolist()
print(A4_1)
print("")\

Q4DFA1.sort_values("Z-Score",ascending=True)

In [149]:
Q4DFA = df[df["Make"]=="Toyota"]
Q4DFA1 = df[["Model","Year","Fuel Barrels/Year"]]
Q4DFA1

                     Model  Year  Fuel Barrels/Year
0        DJ Po Vehicle 2WD  1984          19.388824
1         FJ8c Post Office  1984          25.354615
2      Post Office DJ5 2WD  1985          20.600625
3      Post Office DJ8 2WD  1985          25.354615
4                      GNX  1987          20.600625
...                    ...   ...                ...
35947         fortwo coupe  2013           9.155833
35948         fortwo coupe  2014           9.155833
35949         fortwo coupe  2015           9.155833
35950         fortwo coupe  2016           9.155833
35951         fortwo coupe  2016           9.417429

[35952 rows x 3 columns]

## Q5.  Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

## Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

In [43]:
print("Q6 Answer:")
print("")

Q6V1=df[df["Make"]=="Toyota"]
print("TOYOTA")
A6_1= Q6V1['CO2 Emission Grams/Mile'].nsmallest(5).to_list()
print(A6_1)
print("")

Q6V2=df[df["Make"]=="Ford"]
print("FORD")
A6_2 = Q6V2['CO2 Emission Grams/Mile'].nsmallest(5).to_list()
print(A6_2)
print("")

Q6V3=df[df["Make"]=="Volkswagen"]
print("VOLKSWAGEN")
A6_3 = Q6V3['CO2 Emission Grams/Mile'].nsmallest(5).to_list()
print(A6_3)
print("")

Q6V4=df[df["Make"]=="Nissan"]
print("NISSAN")
A6_4 = Q6V4['CO2 Emission Grams/Mile'].nsmallest(5).to_list()
print(A6_4)
print("")

Q6V5=df[df["Make"]=="Honda"]
print("HONDA")
A6_5 = Q6V5['CO2 Emission Grams/Mile'].nsmallest(5).to_list()
print(A6_5)

TA6 = ("TOYOTA:",A6_1,"FORD",A6_2,"VOLKSWAGEN",A6_3,"NISSAN",A6_4,"HONDA",A6_5)

answer_dict["Q6"] = TA6
answer_dict

Q6 Answer:

TOYOTA
[133.0, 133.0, 133.0, 133.0, 158.0]

FORD
[112.0, 129.0, 129.0, 129.0, 129.0]

VOLKSWAGEN
[200.0, 200.0, 200.0, 200.0, 261.025641025641]

NISSAN
[249.0, 254.0, 254.5, 254.5, 254.5]

HONDA
[130.0, 167.67924528301887, 167.67924528301887, 167.67924528301887, 167.67924528301887]

{'Q1': 392.7417210857633,
 'Q2': None,
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': None,
 'Q5': None,
 'Q6': ('TOYOTA:',
  [133.0, 133.0, 133.0, 133.0, 158.0],
  'FORD',
  [112.0, 129.0, 129.0, 129.0, 129.0],
  'VOLKSWAGEN',
  [200.0, 200.0, 200.0, 200.0, 261.025641025641],
  'NISSAN',
  [249.0, 254.0, 254.5, 254.5, 254.5],
  'HONDA',
  [130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]),
 'Q7': None}

## PICKLE FORMAT

In [176]:
import pickle

file_name = "CARLOS_GONZALEZ_answers.pkl"
path = ""

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)